{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>
    <head>
        <title>YakaFet</title>
        <style>
            h1 {
                text-align: center;
            }
        </style>
    <head>
    <body>
        <br>
        <h1>YakaFet</h1>
        {% if user.is_authenticated %}
            <center>
                {% if last %}
                    <br>
                    <div class="alert alert-primary" role="alert" style="text-align: center;">
                        Tu as choisi : "{{ last.fet }}"
                    </div>
                    <br>
                {% endif %}
                <div class="btn-group">
                  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choix de plat
                  </button>
                  <div class="dropdown-menu">
                      {% for fet in fets %}
                          <a class="dropdown-item" href="?plat={{ fet|slugify }}">{{ fet }}</a>
                      {% endfor %}
                  </div>
                </div>
            </center>
            {% if user.is_superuser %}
                <center>
                    <a href="/summary" class="btn btn-primary">Summary</a>
                </center>
            {% endif %}
        {% else %}
            <center>
                <a href="/accounts/login" class="btn btn-primary">Se connecter</a>
            </center>
        {% endif %}
    </body>
</html>
