{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>
    <head>
        <title>YakaFet</title>
        <style>
            h1 {
                text-align: center;
            }
        </style>
    <head>
    <body>
        <br>
        <h1>YakaFet</h1>
        {% if user.is_authenticated and user.is_superuser %}
            <br>
            <center>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Rounds
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for round in rounds %}
                            <a class="dropdown-item" href="/summary/{{ round.id }}">{{ round }}</a>
                        {% endfor %}
                    </div>
                </div>
            </center>
        {% endif %}
    </body>
</html>
