{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<html>
    <head>
        <title>YakaFet</title>
        <style>
            h1 {
                text-align: center;
            }
        </style>
    <head>
    <body>
        <br>
        <h1>YakaFet</h1>
        {% if user.is_authenticated and user.is_superuser %}
            <br>
            <center>
                <table class="table" style="width: 50%; text-align: center;">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Plat</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in summary %}
                            {% if entry.fet.provider %}
                                <tr style="background-color: {{ entry.fet.provider.color }};">
                            {% else %}
                                <tr>
                            {% endif %}
                                <th scope="row">{{ entry.user.first_name }}</th>
                                <th scope="row">{{ entry.user.last_name }}</th>
                                <td>{{ entry.fet }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br><br>
                <table class="table" style="width: 50%; text-align: center;">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Plat</th>
                            <th scope="col">Quantité</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fet, n in number.items %}
                            <tr>
                                <th scope="row">{{ fet }}</th>
                                <td>{{ n }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </center>
            <br>
            <br>
            <center>
                <h3>Nombre d'organisateurs : {{ no }}</h3>
                <h3>Nombre de participantes : {{ nc }}</h3>
            </center>
        {% endif %}
    </body>
</html>
